html,
body {
    --primary-color: #6700d4;
    height: 500px;
    width: 800px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    margin: 1rem;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}