#webclip .overlay {
    font-family: sans-serif;
    border-radius: 0;
    width: auto;
    margin: 2rem;
    --primary-color: #00C9EC;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    height: auto;
    padding: 1rem;
    z-index: 2147483647;
    box-shadow: -5px 5px 5px 0 rgba(0,0,0,0.26);
}

#webclip .overlay h1 {
    font-family: sans-serif;
    margin: 0 1rem 1rem;
    padding: 0;
    font-size: 2rem;
}

#webclip .overlay button.primary {
    padding: 1rem;
    background-color: var(--primary-color);
    color: #000;
    font-weight: bold;
}

#webclip .overlay button.primary {
    box-shadow:inset 0 39px 0 -24px var(--primary-color);
    background-color: #00b5d4;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0 1px 0 var(--primary-color);
}
#webclip .overlay button.primary:hover {
    background-color:var(--primary-color);
}
#webclip .overlay button.primary:active {
    position:relative;
    top:1px;
}

#webclip .overlay .close-container {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#webclip .overlay button.close {
    position: relative;
    right: -0.8rem;
    top: -0.8rem;
    color: #80808066;
    background-color: unset;
    cursor: pointer;
    border: none;
    font-size: 2rem;
}

#webclip .overlay button.close:hover {
    color: #808080cf;
}

#webclip .paperclip {
    padding: 0;
    background: transparent;
    box-sizing: border-box;
    display: block;
    top: 30%;
    left: -5%;
    margin-top: -40px;
    margin-left: -19px;
    height: 80px;
    width: 38px;
    border: 3px groove #DDDDDD;
    border-radius: 0 0 90px 90px;
    border-top: none;
    position: absolute;
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -webkit-backface-visibility: hidden;
}
#webclip .paperclip::before, #webclip .paperclip::after {
    content:'';
    position: absolute;
    border: 3px groove #DDDDDD;
}
#webclip .paperclip::before {
    left: 3px;
    height: 50px;
    width: 20px;
    border-radius: 0 0 90px 90px;
    border-top: none;
}
#webclip .paperclip::after {
    top: -30px;
    left: -3px;
    height: 30px;
    width: 26px;
    border-radius: 90px 90px 0 0;
    border-bottom: none;
}

#webclip .overlay a {
    text-decoration: underline;
    color: var(--primary-color);
}

#webclip .overlay p {
    padding: 0.5rem 0;
}